* {
    padding: 0;
    margin: 0;
    font-family: sans-serif, Georgia, Times, 'Times New Roman', serif;
}
html {
    height: 1000px;
}
body {
    margin: 0 auto;
    background-image: linear-gradient(rgb(189, 189, 189),1% ,white);
    background-repeat: no-repeat;
}
a{
    text-decoration: none;
}
nav ul li a  h1 {
    letter-spacing:0.1em;
    font-weight: 500;
    font-size: 35px;
    color: black;
}
nav .port {
    padding: 10px;
    margin-top: 4px;
    margin-left: 100px;
    display: inline-block;
    font-size: 35px;
    letter-spacing: 0.5em;
    
}
.prj {
    margin-right: 150px;
}
nav ul {
    float: right;
}
nav ul li{
    display: inline-block;
    padding: 15px;
    
}
nav {
    margin-top: 20px;
}
nav ul li h1:hover {
    font-weight: 600;
    color: #ffffff;
}


section h2{
    margin-left: 36%;
    margin-top: 150px;
}
.para{
    width:500px;
    text-align: left;
    margin: auto;
    font-size: 25px;
    margin-bottom: 90px;
    margin-top: 30px;

}
.par h2 {
    margin-left: 47%;
    font-size: 35px;
    margin-bottom: 50px;
}
section .mybutton {
    padding: 15px;
    color: rgb(0, 0, 0);
    display: inline-flex;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 150px;
    margin-left: 43.8%;
    border: 2px solid black;
    border-radius: 10px;
    
}
.mybutton:hover {
    color: #474747;
}
footer{
    color: rgb(0, 0, 0);
    font-size: 12px;
    padding:10px;
    display: fixed;
}